.header{
    height: 100px;
}
.header-container {
    background-color: #1f2937;
}

/* Logo font and color*/
#logo {
    font-size: 24px;
    color: #f9faf8;
}

/* nav */
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-list ul {
    list-style-type: none;
    display: flex;
    gap: 15em;
}

/* main and secondary text*/
.main-text {
    display: flex;
}

.main-text p {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary-text,
.nav-list ul li>a {
    font-size: 18px;
    color: #E5E7EB;
}

/* button */
.btn button {
    background-color: #3882F6;
    border-radius: 5px;
}

/*image*/
.image {
    display: flex;

}

.image img {
    height: 400px;
    width: 400px;
}

.column-list ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    


}

.column-list ul li>img {
    border-radius: 10px;
    height: 100px;
    width: 100px;

}