* {
    padding: 0;
    margin: 0;
}

header{
    padding: 1em 13em;
    background-color: #1f2937;
}

/* Logo font and color*/
#logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    
}

/* nav */
.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-list ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
}
.left{
    display: flex;

}

/* main and secondary text*/

.main-text p {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.secondary-text,
.nav-list ul li>a {
    font-size: 18px;
    color: #E5E7EB;
}

/* button */
.btn button, .sign-up{
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
}

.sign-up{
    border-color: white;
}

/*image*/
.image {
    display: flex;
}

.image img {
    height: 400px;
    width: 400px;
}

.column-list ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.column-list ul li>img {
    border-radius: 10px;
    height: 100px;
    width: 100px;

}
.container-three{
    background-color: #E5E7EB;
}
.container-three .quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color:#1F2937;
}

.action {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: center;
   
}
#call{
    color:white;
}
