* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    padding: auto;
}

header {
    padding: 1em 13em;
    background-color: #1f2937;
}

/* Logo font and color*/

#logo {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    padding-left: 36vh;
}

/* end Logo font and color*/
/* nav */

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-list ul {
    list-style-type: none;
    display: flex;
    gap: 1.5em;
    padding-right: 500px;
}

a:link {
    text-decoration: none;
}

/*end nav-list */
/* main and secondary text*/

.left {
    padding: 8em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.main-text #main {
    flex-direction: column;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.main-text #second {
    padding-right: 300px;
}

.secondary-text,
.nav-list ul li > a {
    font-size: 18px;
    color: #E5E7EB;
}

/* end of main/secondary text */

/* button */

.btn button,
.sign-up {
    padding: 7px 1em;
    width: 120px;
    background-color: #3882F6;
    border-radius: 8px;
    color: white;
    padding: auto;
    font-size: 20px;
}

.sign-up {
    border: 2px solid #FFF;
}

/*image next to main text */
.image img {
    object-fit: fill;
    height: 300px;
    width: 600px;
    border-radius: 30px;
}

/*end image*/

/* column of images*/

.column-list ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

/* end column of images*/

.column-list ul li > div {
    border-radius: 20px;
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
}

.column-list p {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding: 13px 0px 38px 28px;
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.information #info {
    font-size: 60px;
    font-weight: bolder;
    color: #1f2937;
    padding: 20px;
}

.container-three {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 90px;
}

.quote {
    flex-direction: column;
    font-size: 36px;
}

.quote em {
    font-style: italic;
    justify-content: center;
}

.quote p {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: center;
    padding: 5em 13em;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}

.action-text p {
    font-size: 28px;
    padding-right: 30px;
}

#call {
    color: white;
    font-size: 38px;
}

.button {
    border: white;
}

footer {
    background-color: #1f2937;
    font-size: 30px;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 0;
}